/*Styles*/

body{
background: url(https://media-cdn.tripadvisor.com/media/photo-s/0e/85/48/e6/seven-mile-beach-grand.jpg);
background-repeat: space;
}


div{
  background: green;
  border-color: red;
  border-width: 5px;
  border-style: double;
}

p{

  color: yellow;
}

span{
  background: black;
  color: red;
}
